<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
  <time datetime="<%= date_xml(moment(post.updated_at)) %>" itemprop="datePublished"><%= date(moment(post.updated_at), date_format) %></time>
</a>
